body {
   font-family: Arial, Helvetica, sans-serif;
}
main {
   display: flex;
   flex-direction: column;
   width: 750px;
   margin: 0 auto;
   padding: 1em;
   background: #daf0ff;
   border: 2px solid #006666;
}

h1 {
   margin-top: 0;
   color: #006666;
   text-align: center;
}

lable {
   width: 10em;
   float: left;
   padding-right: 1em;
   padding-bottom: .5em;
}

select {
   width: 10em;
   margin-bottom: 5em;
}

#data input {
   float: left;
   width: 15em;
   margin-bottom: .5em;
}

#data span {
   padding-left: .25em;
}

#buttons input {
   float: left;
   margin-bottom: .5em;
}

br {
   clear: left;
}

h2 {
   text-align: center;
}

form {
   display: flex;
   flex-direction: column;
   margin-right: 20px;
}

.submit-button {
   width: 12em;
   height: 3em;
   border: none;
   background: #4CAF50;
   display: inline-block;
   font-size: 16px;
   color: white;
   cursor: pointer;
   border-radius: 4px;
}

.submit-button:hover {
   background: #45a049;
}

table td {
   text-align: left;
}

table th {
   text-align: left;
}